.GoogleButton {
  margin: 10px;
}

.IFeelSpan {
  font-size: 72px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox {
  width: 278px;
  height: 134px;
  margin-left: 20px;
  border-radius: 20px;
  font-style: "Catamaran", Sans-serif;
  font-size: 72px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #fcd29f;
  color: white;
  background-color: #ff8c5a;
}

.IFeelPage-done_button {
  font-size: 36px;
  color: white;
  border-radius: 20px;
  padding: 0px 20px;
  text-align: center;
  background-color: #806d40;
  text-decoration: none;
  width: 150px;
  margin: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.yourFeelingsBubblesDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.margin2 {
  margin: 2px;
}
