.GoogleButton {
  margin: 10px;
}

.IFeelSpan {
  font-size: 72px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textbox {
  width: 288px;
  height: 144px;
  margin-left: 20px;
  border-radius: 20px;
  font-style: "Catamaran", Sans-serif;
  font-size: 72px;
  border-color: black;
  color: white;
  background-color: #ff8c5a;
}

.IFeelPage-done_button {
  font-size: 36px;
  color: white;
  border-radius: 20px;
  padding: 0px 20px;
  text-align: center;
  background-color: #b33c86;
  text-decoration: none;
  width: 150px;
  margin-left: 20px;
}
