.TagOthers-newTagButton {
  font-size: 36px;
  color: white;
  border-radius: 20px;
  padding: 0px 20px;
  text-align: center;
  background-color: #b33c86;
  text-decoration: none;
  width: 150px;
  margin-left: 20px;
}
