.TagOthers-newTagButton {
  font-size: 36px;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
  text-align: center;
  background-color: #806d40;
  text-decoration: none;
  margin: 20px;
}
