.FeelingSection-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.FeelingSection-link {
  text-decoration: underline;
  color: #1c5bc0;
}

.FeelingSection-link:hover {
  cursor: pointer;
  opacity: 0;
}
