.feelingBubble-main {
  left: -100vw;
  border-radius: 20px;
  padding: 0px 10px;
  white-space: nowrap;
  display: inline-block;
}

.feelingBubble-clickable {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 30px;
  cursor: pointer;
}

.feelingBubble-animated {
  animation: moving 18s 1;
  animation-timing-function: cubic-bezier(0, 0.6, 1, 0.4);
}

.color1 {
  background-color: #a0dde6;
}

.color2 {
  background-color: #caf7e2;
}

.color3 {
  background-color: #e5e9ec;
}

.hidden {
  left: -100vw;
}

/* .feelingBubble-overviewDiv {
  height: 30px;
  background-color: pink;
  display: flex;
  justify-content: center;
}  */

.feelingBubble-overviewDiv {
  width: 100vw;
}

@keyframes moving {
  0% {
    left: -20vw;
  }
  100% {
    left: 100vw;
  }
}
