.NavBar-main {
  background-color: #1052ba; /*#ee7b49;*/
}

.NavBar-section {
  padding: 20px;
}

.NavBar-container {
  padding: var(--s) var(--m);
  background-color: #1052ba; /*#ee7b49;*/
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.8;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.95;
  cursor: pointer;
  text-decoration: underline;
}

.NavBar-iFeelBox {
  width: 25px;
  height: 12px;
  float: right;
  margin-top: 3.5px;
  margin-left: 4px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #1052ba;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
.NavBar-link.NavBar-login {
  opacity: 1;
  right: 0;
}

.NavBar-hello {
  position: absolute;
  color: white;
  right: 20px;
  top: 25px;
}

@media only screen and (max-width: 700px) {
  .NavBar-hello {
    display: none;
  }
}
