.NavBar-main {
  background-color: #ee7b49;
}

.NavBar-section {
  padding: 20px;
}

.NavBar-container {
  padding: var(--s) var(--m);
  background-color: #ee7b49;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.NavBar-iFeelBox {
  width: 25px;
  height: 15px;
  float: right;
  margin-top: 3.5px;
  margin-left: 2px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #fcd29f;
  color: white;
  background-color: #ff8c5a;
  cursor: pointer;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
.NavBar-link.NavBar-login {
  opacity: 1;
  right: 0;
}
