.SingleTag-activity {
  border-color: black;
  font-size: 20px;
}

.SingleTag-button {
  background-color: green;
  height: 40px;
  margin-left: 10px;
}

.SingleTag-buttonSpan {
  margin-left: auto;
}

.SingleTag-container {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: pink;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-right: 20px;
}
