.SingleTag-activity {
  border-color: black;
  font-size: 20px;
}

.SingleTag-button {
  background-color: #a0dde6;
  border-color: #463f3a;
  border-radius: 10px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.SingleTag-button:hover {
  background-color: #caf7e2;
}

.SingleTag-buttonSpan {
  margin-left: auto;
  min-width: 200px;
  height: 40px;
}

.SingleTag-starsSpan {
  margin-left: auto;
  min-width: 200px;
  height: 40px;
  color: #a0dde6;
  text-align: center;
  font-size: 36px;
  position: relative;
  top: -10px;
  cursor: pointer;
}

.SingleTag-container {
  width: 80vw;
  max-width: 600px;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #e5e9ec;
  border-style: solid;
  border-color: #463f3a;
  border-width: 2px;
  margin-right: 20px;
  border-radius: 10px;
}

.SingleTag-complete {
  width: 80vw;
  max-width: 600px;
  position: relative;
  left: 2px;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #a9ceff;
  margin-right: 30px;
  border-radius: 10px;
  align-items: center;
}

.SingleTag-buttonHolder {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.SingleTag-taskCompleteButton {
  background-color: #8fbfff;
  /* color: #fcefef; */
  border-width: 0;
  padding: 0px 20px;
  border-radius: 10px;
  height: 32px;
  margin-right: 24px;
}

.SingleTag-taskCompleteButton:hover {
  background-color: #a0dde6;
}

.SingleTag-completeText {
  min-width: 100px;
  margin-left: 24px;
}
